ul#menu {
  display: none;  /* menu hidden by default, need to tap hamburger to see it */
}


.align-right {
    display: flex;
    justify-content: right;  /* align hamburger to right */
    margin: 1rem 1rem 1rem 0;
}

.align-right button {
  height: 32px;
  width: 32px;
  display: block;
  border: none;
  background-image: url(../img/hamburger.min.svg);  /* actual icon */
  background-size: contain;
  background-color: transparent;
  cursor: pointer; 
  padding: 0;
}

ul#menu.show-nav {
  list-style-type: none;
  display: block !important;  /* display menu when icon tapped */
  width: 80%;
  margin: 0 auto;
}

#menu > li > a { /* only top level menus (on mobile) are bold */
  font-weight: bold;
}


nav.primary-nav a {  /* makes tappable link fill 100% of the list item for better UX */
  display: block; 
  width: 100%;
  height: 100%;
  text-decoration: none;
  height: 2.75rem;  /* 44px is iOS recommended tappable target height */
  line-height: 2.75rem; /* line-height = height makes text aligned vertically */
}

nav.primary-nav ul.sub-menu {
  margin-left: 1rem;  /* submenu is indented */
}


.current-menu-item a {  /* highlight current page in menu */
  color: orange !important;
  font-weight: bold !important;
}

